@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
.comtainer{
    width: 1000px;
    height: 650px;
    background-color: aquamarine;
    margin: 100px auto;
}